
.menu-btn {
    color: #FFF;
    background: #00D7CC;
    display: inline-block;
    text-transform: uppercase;
}

#drawer .navigation {
    padding: 8px 20px;
    border-bottom: 1px solid #F0F0F0;
}



#drawer i, #treatmentDrawer i {
    opacity: 0.6;
}

#drawer a, #treatmentDrawer a {
    text-decoration: none;
}

input[type=number]:invalid {
    background-color: #FFCCCC;
}

#drawer .actions {
    padding: 10px 20px 0;
    text-align: right;
}

#treatmentDrawer input {
    box-sizing: border-box;
}

#treatmentDrawer .left-column {
    display: block;
    width: 100%;
}

#treatmentDrawer .left-column span {
    width: 110px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 22px;
    vertical-align: middle;
}

#treatmentDrawer .left-column input, #treatmentDrawer .left-column select {
    width: 140px;
}

#treatmentDrawer .extra-space {
    padding-top: 10px;
    display: block;
}

.timeago-mins {
    width: 25px;
}

#eventTime {
    padding-bottom: 15px;
}

#eventTime > span {
    width: 105px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 22px;
    vertical-align: middle;
}

#treatmentDrawer .eventdate {
    width: 130px;
}

#treatmentDrawer .eventtime {
    width: 110px;
}

#eventTime label span {
    width: 45px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 22px;
    vertical-align: middle;
}

#treatmentDrawer #glucoseValue {
    width: 230px;
}

#treatmentDrawer #notes {
    width: 250px;
}

#about {
    margin-top: 0!important;
    background: #F6F6F6;
    padding: 0 20px 20px;

}

#about legend {
    color: #00d7cc;
    padding-top: 70px;
}

#about a {
    color: #00D7CC;
}

#about div {
    font-size: 12px;
}

#useDefaults {
    color: #00D7CC;
    border-bottom: 1px solid currentColor;
    font-size: 12px;
    text-align: right;
    transition: color .2s;
}

#useDefaults:hover {
    color: #00b0a7;
}

form {
    margin: 0;
    padding: 0;
}

.serverSettings {
    display: none;
}

fieldset {
    margin: 20px 0 0;
    padding: 20px;
    border: none;
}

legend {
    font-size: 1.1em;
}

dl {
    margin: 0 0 1em 0;
}

dl:last-child {
    margin-bottom: 0;
}

dd {
    margin-left: 0;
}

dd.numbers input {
    text-align: right;
    width: 50px;
}

dd.numbers label {
    display: block;
    float: left;
    width: 50px;
}

h1, legend,
#toolbar .customTitle,
#about .appName,
#about .version {
    color: #1D1E2A;
    text-transform: uppercase;
    font-size: 18px;
}

#about .appName {
    font-size: 1em;
}

#about .version {
    font-size: 1.25em;
    margin-left: 0.25em;
}

#notification {
    display: none;
    font-size: 14px;
    position: absolute;
}

#notification,
#notification a {
    overflow: hidden;
}

#notification {
    opacity: 0.75;
    top: 4px;
    z-index: 99;
}

#notification.info a {
    background: #00f;
    color: #fff;
}

#notification.warn a {
    background: #cc0;
    color: #000;
}

#notification.success a {
    background: #090;
    color: #fff;
}

#notification.urgent a {
    background: #c00;
    color: #fff;
}

#notification a {
    background: #c00;
    border-radius: 5px;
    color: #fff;
    display: block;
    height: 20px;
    padding: 0.5em;
    text-decoration: none;
}

#notification span {
    margin-right: 0.25em;
}

#notification i {
    float: right;
    opacity: 0.5;
    vertical-align: top;
}

.experiments a {
    color: #fff;
    font-size: 1.5em;
}

ul.navigation {
    padding: 10px 0;
    margin: 0;
}

.navigation li {
    list-style: none;
    display: inline-block;
}

.menu-btn {
    cursor: pointer;
    border: none;
    line-height: 22px;
    width: 100%;
    text-decoration: none;
    background-color: #00D7CC;
    display: inline-block;
    padding: 5px 8px;
    margin: 10px 0;
    transition: background-color .2s;
}

.menu-btn:hover {
    background-color: #00B0A7;
}
