/* FONTS */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300);

/* BASE */
*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #F0F0F0;
    overflow: hidden;
}

/* HEADER */
#toolbar {
    background: #00D7CC;
    height: 72px;
    line-height: 72px;
    padding: 0 30px;
}

#currentTime {
    float: left;
    display: inline-block;
    vertical-align: middle;
    font-size: 38px;
    color: #FFF;
    text-transform: uppercase;
}

#buttonbar {
    float: right;
    display: inline-block;
    padding-top: 6px;
    height: 100%;
    min-width: 120px; /* fix IE problem */
    text-align: right;
}

#buttonbar > a + a {
    margin-left: 30px;
}

#drawerToggle {
    position: relative;
    z-index: 101;
}

/* MENU */
.menu {
    position: absolute;
    height: 100%;
    width: 320px;
    top: 0;
    right: -3px;
    z-index: 100;
    overflow-y: auto;
    background-color: #FFFFFF;
    font-size: 16px;
    box-shadow: -1px 0 8px 0 rgba(0, 0, 0, .3);
    transform: translateX(100%);
    transition: transform .2s ease-in;
}

.menu.opened {
    transform: translateX(0);
}

.menu dt {
    color: #1D1E2A;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 4px;
}

.menu input[type=text] {
    background: #F0F0F0;
    border: none;
    padding: 2px 5px;
}

.menu input.full {
    width: 100%;
}

.menu input + label {
    margin-left: 10px;
}

.menu select {
    width: 100%;
    background: #F0F0F0;
    border: 1px solid #71717F;
    padding: 2px 5px;
}



/* PRIMARY */

.primary {
    overflow: hidden;
    padding: 25px 30px 15px 40px;
}

#lastEntry {
    display: inline-block;
    padding: 15px 10px;
    background: #FF1770;
    border: 2px solid #FFF;
    color: #FFF;
    font-size: 32px;
    text-transform: uppercase;
}

#lastEntry em {
    font-style: normal;
}

.bgButton {
    background: #00D7CC;
    display: inline-block;
    border: 2px solid #FFF;
    color: #FFF;
    padding: 0 15px;
    font-size: 63px;
}

/* ICONS */

.icon-sound,
.icon-plus,
.icon-hamburger {
    display: inline-block;
    opacity: .95;
    transition: opacity .15s;
}

.icon-sound:hover,
.icon-plus:hover,
.icon-hamburger:hover {
    opacity: 1;
}

.icon-sound {
    width: 33px;
    height: 28px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB8AAAAYCAMAAAA1ddazAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAA8FBMVEUAAAD///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////8AAADla+TzAAAATnRSTlMAFanDVOl7SPFcRvMnxSEBqMoD+4EEOj0M4WPfO/AmWtulDrC5AuA/DedFiIl6oMIt3BvoB/gG+TB/oRDqpLHe5SRYVjYWqiCny1UoScRAK80qAAAAAWJLR0QAiAUdSAAAAAlwSFlzAAALEgAACxIB0t1+/AAAAPhJREFUKM+FkntXQUEUxTcq4upGpSKRd0oPlRB59KTs7/9xmitz3Muaa/81s37rnDNz9ga8CgRD8NHWNmmmgSC55Dvh9eLIrvAoY9ZqcXwPwu19JpKe4oPDIyx46hg4OWUaCFErc+aQObci2XMgx7wNwRcFCE8WWQLKFVb1PBn7f6hdsg5c8drA0eANUOetid/xHmjywcQf+QS0+GziBYX8eHtD/w67fu976TGq/7dQ372fV8ZtlDNqP8v9DlLCm8PeCBg7+9V6U/50xB/rXfsj+vhU/n65/P3mxOWv0lTlIyc8zNjPSoCcFq58/a4ncOqbz3mLmef+B4HUQJ1jv8NuAAAAAElFTkSuQmCC');
    background-position: center;
    background-repeat: no-repeat;
}

.icon-sound.icon-sound-mute {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB8AAAAYCAMAAAA1ddazAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAbFBMVEUAAAD///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////8AAAA+8cZEAAAAInRSTlMAFanDVOnxXMUh+4EE3zulDg20OTi18KTeOlZ/FqogVVrEGYIaWQAAAAFiS0dEAIgFHUgAAAAJcEhZcwAACxIAAAsSAdLdfvwAAACtSURBVCjPhZLZEsIgDEXT1t26QAF3q/n/jzRkBFslMQ8MmXOTgZsAjKOqG1BiMkWUaVUjKpyKZ3ORx+LFEiROxat1Cz+8wRSbbcy/eca7PWRubBfvzpqkz2V88RhI4ALaMu8CCfgocxYwFngUMJa4i9yJ/N3fwZ/3Oe1/JPAffw5Dfzz703kz8Pd4Kvmb4kzzubQyh+uN5nsHZT962o+Htl+xhca5hcqpxXOUvwCauBoIe54nrgAAAABJRU5ErkJggg==');
}

.icon-hamburger {
    display: inline-block;
    position: relative;
    width: 34px;
    height: 33px;
}

.icon-hamburger > span {
    display: block;
    position: absolute;
    top: 18px;
    left: 3px;
    right: 3px;
    height: 2px;
    background: #fff;
    transition: background 0s .3s;
}

.icon-hamburger > span::after,
.icon-hamburger > span::before {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition-duration: .3s, .3s, .3s;
    transition-delay: .3s, 0s;
}

.icon-hamburger > span::before {
    top: -8px;
    transition-property: top, transform, background-color;
}

.icon-hamburger > span::after {
    bottom: -8px;
    transition-property: bottom, transform, background-color;
}

.icon-hamburger.opened > span {
    background: transparent;
}

.icon-hamburger.opened > span::after,
.icon-hamburger.opened > span::before {
    background-color: #1D1E2A;
    transition-delay: 0s, .3s, .3s;
}

.icon-hamburger.opened > span::before {
    top: 0;
    transform: rotate(45deg);
}

.icon-hamburger.opened > span::after {
    bottom: 0;
    transform: rotate(-45deg);
}

.icon-plus {
    width: 28px;
    height: 28px;
    position: relative;
}

.icon-plus::after,
.icon-plus::before {
    content: "";
    position: absolute;
    display: block;
    background-color: #fff;
}

.icon-plus::before {
    top: 50%;
    margin-top: -1px;
    height: 2px;
    width: 100%;
    left: 0;
}

.icon-plus::after {
    left: 50%;
    margin-left: -1px;
    width: 2px;
    height: 100%;
    top: 0;
}

/* ------------------------------------------ */

.container {
    bottom: 0;
    display: block;
    height: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    top: 45px;
    width: 100%;
    z-index: 2;
}

#container.announcing .customTitle {
    color: #FFF;
}

#container.alarming.urgent .customTitle {
    color: #FFF;
}

#container.alarming.warning .customTitle {
    color: #FFF;
}

.bgStatus {
    float: right;
    white-space: nowrap;
}

.urgent .bgButton {
    color: #FFF;
}

.warning .bgButton {
    color: #FFF;
}

.inrange .bgButton {
    color: #FFF;
}

.bgStatus .currentBG {
    text-decoration: line-through;
    vertical-align: middle;
}

.bgStatus .currentBG.bg-limit, .bgStatus .currentBG.icon-hourglass {
    font-size: 90px;
}

.bgStatus .pill.direction {
    font-weight: normal;
    text-decoration: none;
    border: none;
    background: none;
    margin: 0;
    padding: 0;
    font-size: 49px;
}

.bgStatus .majorPills {
    color: #71717F;
    padding-top: 10px;
    font-size: 26px;
    text-align: right;
}

.bgStatus .majorPills em {
    font-style: normal;
    margin-right: 6px;
}

.minorPills {
    font-size: 22px;
    line-height: 25px;
    z-index: 500;
    white-space: normal;
}

.majorPills > span:not(:first-child) {
    margin-left: 5px;
}

.minorPills > span:not(:first-child) {
    margin-left: 5px;
}

.container .pill.warn em {
    color: yellow;
}

.container .pill.urgent em {
    color: red;
}

.alarming-timeago #lastEntry.pill.warn {
    border-color: yellow;
}

.alarming-timeago #lastEntry.pill.warn label {
    background: yellow;
}

.alarming-timeago #lastEntry.pill.urgent {
    border-color: red;
}

.alarming-timeago #lastEntry.pill.urgent label {
    background: red;
}

.bgStatus.current .currentBG {
    text-decoration: none;
}

.alarming-timeago .bgStatus.current .currentBG {
    text-decoration: line-through;
}

.loading .statusPills {
    display: none;
}

#chartContainer {
    left: 0;
    right: 0;
    bottom: 0;
    height: auto;
    font-size: 20px;
    display: block;
    position: absolute;
    margin: 0px;
    overflow: hidden;
    padding: 0 30px 30px 40px;
}

#chartContainer svg {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    fill: #71717F;
}

#silenceBtn {
    z-index: 99;
}

#silenceBtn a {
    font-size: 20px
}

.loading .pill.rawbg {
    display: none;
}

.pill.rawbg {
    display: inline-block;
    border-radius: 2px;
    border: 1px solid #808080;
    padding: 0;
}

.pill.rawbg em {
    color: white;
    background-color: black;
    display: block;
    font-size: 20px;
    border-radius: 0;
    padding: 0 2px;
}

.pill.rawbg label {
    display: block;
    font-size: 14px;
    padding: 0 2px;
}

.alarming .bgButton {

}

.alarming.urgent .bgButton {
    background-color: #ff2236;
}

.alarming.warning .bgButton {
    background-color: #F6F616;
}

.button {
    text-align: center;
    background: #ababab;
    margin: 10px auto;
}

.tooltip {
    top: 0;
    left: 0;
    color: #444;
    position: absolute;
    text-align: left;
    padding: 15px 10px;
    font-size: 18px;
    line-height: 1.5em;
    background: white;
    border: 0;
    border-radius: 1px;
    float: right;
    min-width: 150px;
    height: 113px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
}

.tooltip:after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 70px;
    width: 10px;
    height: 10px;
    background-color: white;
    transform: rotate(45deg);
    box-shadow: 2px 2px 1px rgba(0,0,0,0.1);
}

.tooltip span.number {
    color: #00d7cc;
}

.alarms {
    display: none;
}

.loading .focus-range {
    display: none;
}

.focus-range {
    display: inline-block;
    list-style: none;
    padding: 0;
}

.focus-range li {
    display: inline-block;
    font-size: 18px;
    white-space: nowrap;
    cursor: pointer;
    color: #71717F;
    text-transform: uppercase;
}

.focus-range li + li {
    margin-left: 10px;
}

.focus-range .selected {
    border-bottom: 2px solid currentColor;
    color: #00D8CC;
}

.pill.hidden {
    display: none;
}

@media (max-width: 800px) {
    .bgStatus {
        width: 300px;
    }

    .bgButton {
        width: auto;
    }

    .bgStatus .currentBG {
        font-size: 80px;
        line-height: 80px;
    }

    .bgStatus .currentBG.bg-limit, .bgStatus .currentBG.icon-hourglass {
        font-size: 70px;
    }

    .bgStatus .pill.direction {
        font-size: 70px;
        line-height: 70px;
    }

    .bgStatus .majorPills {
        font-size: 20px;
        line-height: 24px;
    }

    .bgStatus .minorPills {
        font-size: 16px;
        line-height: 18px;
    }

    .status {
        font-size: 70px;
        padding-top: 8px;
    }

    .statusPills {
        font-size: 15px;
        line-height: 17px;
    }

    .focus-range {
        margin: 0;
    }

    .focus-range li {
        font-size: 14px;
    }

    #silenceBtn a {
        font-size: 30px;
    }

    #chartContainer {
        font-size: 14px;
    }
}

@media (max-width: 750px) {
    .bgStatus {
        width: 240px;
        padding: 0;
    }

    .pill.rawbg em {
        font-size: 14px;
    }

    .pill.rawbg label {
        font-size: 12px;
    }

    .bgStatus .currentBG {
        font-size: 70px;
        line-height: 60px;
    }

    .bgStatus .currentBG.bg-limit, .bgStatus .currentBG.icon-hourglass {
        font-size: 50px;
    }

    .bgStatus .pill.direction {
        font-size: 50px;
        line-height: 50px;
    }

    .bgStatus .majorPills {
        font-size: 15px;
        line-height: 17px;
    }

    .bgStatus .minorPills {
        font-size: 12px;
        line-height: 13px;
    }

    .status {
        font-size: 50px;
        width: 250px;
    }
}

/*@media (max-width: 400px) {
    .primary {
        text-align: center;
        margin-bottom: 0;
    }

    .bgStatus {
        float: none;
        padding: 0;
        text-align: center;
        width: 250px;
    }

    .bgButton {
        margin: 5px;
        width: auto;
    }

    .bgStatus .currentBG {
        font-size: 70px;
        line-height: 70px;
    }

    .bgStatus .currentBG.bg-limit, .bgStatus .currentBG.icon-hourglass {
        font-size: 60px;
        padding-left: 20px;
    }

    .bgStatus .pill.direction {
        font-size: 60px;
        line-height: 60px;
    }

    .bgStatus .majorPills {
        font-size: 15px;
        line-height: 17px;
    }

    .bgStatus .minorPills {
        font-size: 12px;
        line-height: 13px;
    }

    #silenceBtn a {
        font-size: 20px;
    }

    .status {
        padding-top: 0;
        font-size: 20px;
    }

    .statusBox {
        width: auto;
    }

    .statusPills {
        display: inline;
        margin-left: auto;
        font-size: 12px;
        line-height: 13px;
    }

    .focus-range {
        position: absolute;
        top: 60px;
        left: auto;
        right: 10px;
        margin: 0;
        width: auto;
    }

    .focus-range li {
        display: block;
    }
}*/

@media (max-height: 700px) {
    #chartContainer {
        font-size: 14px;
    }
}

@media (max-height: 600px) {
    #chartContainer {
        font-size: 12px;
    }
}

@media (max-height: 480px) {
    #toolbar {
        float: right;
        height: auto;
    }

    #toolbar .customTitle {
        display: none;
    }

    .container {
        top: 15px;
        padding-bottom: 20px;
    }

    #chartContainer {
        font-size: 10px;
    }
}

/*@media (max-height: 480px) and (min-width: 400px) {
    .bgStatus .currentBG {
        font-size: 70px;
        line-height: 60px;
    }

    .bgStatus .currentBG.bg-limit, .bgStatus .currentBG.icon-hourglass {
        font-size: 70px;
    }

    .bgStatus .pill.direction {
        font-size: 50px;
        line-height: 50px;
    }

    .bgStatus .majorPills {
        font-size: 15px;
        line-height: 17px;
    }

    .bgStatus .minorPills {
        font-size: 12px;
        line-height: 13px;
    }

    .status {
        font-size: 50px;
        padding-top: 5px;
    }

    .statusPills {
        font-size: 15px;
        line-height: 17px;
    }

}*/

@media (max-height: 480px) and (max-width: 400px) {

    .bgStatus {
        text-align: center;
        width: 220px;
        left: 0;
    }

    .bgStatus .currentBG {
        font-size: 60px;
        line-height: 60px;
    }

    .bgStatus .currentBG.bg-limit, .bgStatus .currentBG.icon-hourglass {
        font-size: 60px;
    }

    .bgStatus .pill.direction {
        font-size: 50px;
        line-height: 50px;
    }

    .bgStatus .majorPills {
        font-size: 15px;
        line-height: 17px;
    }

    .bgStatus .minorPills {
        font-size: 12px;
        line-height: 13px;
    }

    #silenceBtn {
        right: -25px;
    }

    .focus-range {
        position: absolute;
        top: 40px;
        left: auto;
        right: 35px;
        margin: 0;
        width: auto;
    }

    .focus-range li {
        display: block;
    }

    .statusBox {
        width: 220px;
    }

    .statusPills {
        display: inline;
        margin-left: auto;
        font-size: 12px;
        line-height: 13px;
    }
}

@media (max-width: 570px) {
  #toolbar {
    position: relative;
  }
  #buttonbar {
    position: absolute;
    top: 1px;
    right: 20px;
  }
  div.primary {
    position: relative;
    padding: 0 0 20px 0;
  }
  div.bgStatus {
    display: block;
    float: none;
    margin: auto;
    width: 100%;
  }
  div.bgButton {
    width: 100%;
    border-width: 2px 0 0 0;
    text-align: center;
    height: 65px;
  }
  div.bgButton span.currentBG {
    font-size: 60px;
    vertical-align: top;
  }
  div.majorPills {
    margin-top: -35px;
    padding-right: 15px;
  }
  div.majorPills span {
    color: white;
    font-size: 1.2em;
    line-height: 0.8em;
  }
  div.status,
  div.statusBox,
  #lastEntry {
    width: 100%;
  }
  #lastEntry {
    border-width: 2px 0;
    text-align: center;
  }
  ul.focus-range {
    display: table;
    width: 100%;
    padding-top: 4px;
    position: relative;
    z-index: 10;
  }
  ul.focus-range li {
    display: table-cell;
    text-align: center;
    font-size: 18px;
    line-height: 27px;
  }
  div#chartContainer {
    padding-top: 20px;
    padding-bottom: 0;
  }
}
