body {
  fill: #fff;
}

.axis path,
.axis line {
  fill: none;
  stroke: #ffffff;
  shape-rendering: crispEdges;
}

.open-right, .open-left {
  shape-rendering: crispEdges;
}
.grid path, .axis line {
  stroke: #bdbdbd;
  stroke-opacity: 1;
}

.brush .extent {
  stroke: #ffffff;
  stroke-opacity: 0;
  fill-opacity: 0;
}

.tooltip {
  pointer-events: none;
}

/* Down Chart Background */
g.chartContainer g.x.brush rect.background {
  fill: white;
  visibility: visible !important;
}

/* Extent element */
g.chartContainer g.x.brush rect.extent {
  fill: rgba(0, 215, 204, 0.1);
  stroke: #00d7cc;
  stroke-opacity: 1;
  fill-opacity: 1;
}

/* Extent After */
rect.extent-after {
  fill: rgba(0, 0, 0, 0.1);
  fill-opacity: 1;
}

g.axis .domain {
  display: none;
}
